.about {
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  padding: 0;

  &__title {
    height: 250px;
    background-color: #fdf0e6;
    color: #f08e80;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 56px;
    font-weight: normal;
  }

  &__block {
    max-width: 1120px;
    list-style: none;
    padding: 0;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__item {
    width: calc(1120px - 20px);
    box-shadow: 0 5px 5px rgb(193, 187, 187);
  }

  &__image {
    width: 300px;
    height: 400px;
  }
}
