.button {
  width: 90px;
  height: 40px;
  background-color: #f08e80;
  color: white;
  border-style: none;
  font-size: 12px;
  cursor: pointer;
}

.button:disabled {
  background-color: #f8f8f8;
  color: #c2c2c2;
}

.button_position {
  margin: 10px 0 0 0;
}
